.errormodal{
    width:375px;
    padding-bottom: 90px;
    position: relative;
    background-color: #F7F8FA;
    filter: blur(3px);
}

.visa-img-error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.wallet-text-error{
    font-size: 17px;
    font-weight: 400;
    color: #092058;
    line-height: 20.72px;
    text-align: center;
    margin-right: 63px;
    margin-left: 63px;
    width: 249px;
    height: 69px;
    display: flex;
    align-items: center;
}

.field-wrapper-error{
    width: 343px;
    height: 50px;
    position: relative;
    margin-top: 42px;
}

.errormodal input{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-left:13px;
    font-weight: 400;
    color: #7D90AA;
    font-size: 16px;
    padding-left:19px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.field-wrapper-error img{
    position: absolute;
    left:315px;
    top:13px;
}

.eligible-banks-error{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top:171px;
    margin-left:16px;
    gap: 8px;
}

.eligible-banks-error p{
    font-weight: 400;
    font-size: 10px;
    line-height: 19px;
    color: #7D90AA;
}

.errormodal dialog{
    width: 343px;
    height: 280px;
    box-shadow: 0px 10px 20px 0px #0000000D;
    border-radius: 20px;
    position: absolute;
    top:266px;
    left:19px;
    right:13px;
    bottom:266px;
    border:none;
    outline: none;
}

.errormodal dialog::backdrop{
    background: rgba(9, 32, 88, 0.3);
    width: 375px;
    height: 812px;
    position: absolute;
}

.error-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    color: #092058;
    width:290px;
    height: 20px;
    text-align: center;
    margin: 36px 29px 29px 24px;
}

.error-text{
    font-size: 15px;
    font-weight: 400;
    line-height: 18.29px;
    color: #4F6C8D;
    width:311px;
    height: 90px;
    text-align: center;
    margin: 0px 19px 29px 13px;
}

.btn-primary-error{
    width: 248px;
    height: 50px;
    background-color: #186BFE;
    box-shadow: 0px 10px 20px 0px #0000000D;
    border-radius: 25px;
    margin: 0px 47px 26px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-primary-error .btn-continue-error{
    font-size: 15px;
    font-weight: 500;
    line-height: 18.29px;
    color: #FFFFFF;
}